<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  RewriteCond %{HTTP_HOST} ^cohaise\.esiah\.dev$ [NC]
  RewriteRule ^(.*)$ https://esiah.dev/cohaise$1 [L,R=301]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>