.contact-container {
  margin-top: 150px; /* Espace pour ne pas chevaucher le titre */
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-card {
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  background: #000;
  overflow: hidden;
  cursor: pointer;
  transition:
    scale 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}
.contact-card:hover {
  border-color: var(--clr-accent) !important;
  box-shadow: 0 0 25px rgba(183, 28, 28, 0.6);
  border: 5px solid;
}

.contact-card:hover .contact-card-icon {
  opacity: 1;
  scale: 1.2;
  color: var(--clr-accent);
}

.contact-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  position: absolute;
  inset: 0;
}

.contact-card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  z-index: 1;
}

.contact-card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  z-index: 2;
  text-align: left;
}

.contact-card-info h3 {
  font-size: 2rem;
  margin: 0;
  color: #fff;
}
.contact-card-info p {
  opacity: 0.7;
  margin: 0;
  color: #fff;
}

.contact-card-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
  color: #fff;
  opacity: 0.5;
}
